*.user
*.suo
Diploma/bin/
Diploma/obj/
DiplomaTest/obj/
DiplomaTest/bin/
TestResults/
Diploma/Web.config
DiplomaTest/App.config
*.[Cc]ache
[Bb]in
[Oo]bj
[Tt]est[Rr]esults
OSM_Data_DB
moscow_russia.osm
nodes.xml
ways.xml
open_big_xml.bat
Queries.txt