moscow_russia.osm
nodes.xml
ways.xml
open_big_xml.bat
Diploma/bin/
Diploma/obj/
TestResults/
DiplomaTest/obj/
DiplomaTest/bin/
*.suo
OSM_Data_DB
Diploma/Web.config
DiplomaTest/App.config
Queries.txt