<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://veloroutes.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>veloroutes.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>veloroutes</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$veloroutes</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OSM_Data_DBConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bm5tp55pmm.database.windows.net,1433;Initial Catalog=OSM_Data_DB;User ID=nikita@bm5tp55pmm;Password=11GorNik04!" Name="Data Source=tcp:bm5tp55pmm.database.windows.net,1433;Initial Catalog=OSM_Data_DB;User Id=nikita@bm5tp55pmm;Password=11GorNik04!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=НИКИТА-ПК;Initial Catalog=OSM_Data_DB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OSM_Data_DBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=НИКИТА-ПК;Initial Catalog=OSM_Data_DB;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OSM_Data_DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bm5tp55pmm.database.windows.net,1433;Initial Catalog=OSM_Data_DB;User Id=nikita@bm5tp55pmm;Password=11GorNik04!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>